.App {
  background-image: url("../resource/background.jpg");
  background-size: cover;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.main-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  width: 80%;
  min-height: 100vh;
  background-color: rgb(227, 221, 218, 0.5);
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}

.display-random {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
button {
  width: max-content;
  height: 3em;
  border-radius: 0.5em;
}
